.feedback-form{
    margin-top: 50px;
 
}

.feedback-form label, input, textarea{
    display: block;
    margin:10px auto;
}

.feedback-form input,textarea{
    border: 1px solid #313131;
    border-radius: 5px;
    padding: 10px;
}

.feedback-form button{
    padding: 10px 30px;
    border: 1px solid #313131;
    border-radius: 5px;
    background-color:#5b9fde;
    font-size: 17px;
}
