.gallery {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    list-style: none;
    width: 1128px;
    margin: 100px auto;
}

.gallery-item {
    width: calc((1128px - 48px)/3);
}

img {
    display: block;
    width: 100%;
    height: 100%;
}